*{
}

@font-face{
	font-family: 'Kranky', cursive;
	font-family: 'Miltonian', cursive;
	font-family: 'Ribeye Marrow', cursive;
}
body{
	color:white;
	background-color: orange;
	font-family: 'Ribeye Marrow';
	margin: 100px

}



h1{
	font-size: 70px;
}

#grid_1 { 
    display: grid; 
    grid-template-rows: repeat(2, 100px); 
    grid-gap: 10px;}


.desc{
    position: relative;

    }

a{
	text-decoration: none;
	color:white;
}
a:active{
	text-decoration: none;
	color:orangered;
}
a:hover{
	text-decoration: none;
	color:orangered;
}