*{
	margin:0px;
	padding:0px;
}

@font-face{
	font-family: 'Kranky', cursive;
	font-family: 'Miltonian', cursive;
	font-family: 'Ribeye Marrow', cursive;
}
body{
	color:white;
	background-color: orange;
	font-family: 'Ribeye Marrow';
}

h1{
	font-size: 70px;
	margin-top: 100px;
}

#projects, #exercises{
	padding-top: 30px;
	font-size: 20px;
}

li{
	font-size: 16px;
	
}


div.P1{
	position:absolute;
	left:450px;
}

div.P2{
	position:absolute;
	left:670px;
}