*{
}

@font-face{
	font-family: 'Kranky', cursive;
	font-family: 'Miltonian', cursive;
	font-family: 'Ribeye Marrow', cursive;
}
body{
	color:white;
	background-color: orange;
	font-family: 'Ribeye Marrow';
	margin: 100px;
	line-height: 24px;
}



h1{
	font-size: 70px;
	text-align: center;
}



#grid_1 { 
    display: grid; 
    grid-template-rows: repeat(2, 100px); 
    grid-gap: 10px;
    text-align: center;
}

#grid_2{
	display: grid; 
	grid-template-rows: repeat(2, 100px); 
    grid-gap: 10px;


}

#grid_3{
	display: grid; 
	grid-template-rows: repeat(1, 150px); 
	grid-template-columns: repeat(4, 300px);
    grid-gap: 10px;
    float: left;
}

#special{
	border-width: 1pt;
	border-style: solid;
    border-color: white;
    padding: 1px 6px;
    border-radius: 5px;
}
li{
	padding-left: 5px;
}
a{
	text-decoration: none;
	color:white;
}
a:active{
	text-decoration: none;
	color:orangered;

}
a:hover{
	text-decoration: none;
	color:orangered;
	background-color: white;
	padding: 0px 5px;
	border-radius: 5px;
}