*{
	margin: 0px;
	padding:0px;
}

@font-face{
	font-family: 'Press Start 2P', cursive;
	font-family: 'Squada One', cursive;
	font-family: 'Freckle Face', cursive;
	font-family: 'Fascinate Inline', cursive;
}


p{
	font-family: 'Squada One';
}

span{
	font-family: 'Press Start 2P';
}

/*version 1: anxious*/
#nav{
	background-color: yellow;
	padding:10px 0 0 10px;
}
.anxious_titlefixed{
	position: fixed;
	left: 50px;
}

.anxious_parafixed{
	position: fixed;
	left: 0px;
	top: 50px;
}

.anxious_para{position:absolute;}

#element_1-1{
	color:orange;
	font-size: 200%;
}

#element_1-2{
	color: maroon;
	font-size: 500%;
	line-height: 50px;
}

#element_1-3{
	font-size:300px;
	line-height: 200px;
}	


/*version 2: noisy*/
.noisy{
	background-color: midnightblue;
	color:orangered;
}

.noisy_title{
	position:fixed;
	left:700px;
	top: 700px
}

.noisy_para{
	position:absolute;

}
#element_2-1{
	font-size: 50px;
	line-height: 30px;
}
#element_2-2{
	font-size: 30px;
	line-height: 20px;
	top:50px;
}

#section_2-1{
		margin-left: 200px;

}
#section_2-2{
	position: relative;
	margin-top: 200px
	
}

#section_2-3{
	position: relative;
	margin-left: : 700px
}



/*version 3: creepy*/
.creepy{
	background-color: black;
	margin:50px;
	background-image: url(creepy.gif);
}
.p3{
	font-family: 'Special Elite';
	font-size: 50px;
	color: white;
	text-shadow: 10px 10px darkred;
}



div.blink{	
	text-align: center;
	line-height: 30px;
	animation: blinking 1s linear infinite;
	-webkit-animation-name: blinking;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}


@keyframes blining{
    from {visibility:hidden;}
    35% {visibility:hidden;}

    to {visibility:visible;}
}

@-webkit-keyframes blinking{
    from {visibility:hidden;}
    55% {visibility:hidden;}
    to {visibility:visible;}
}

#fixed_v3{
	color: white;
 	position: fixed;
 	left:325px;
 	font-family: 'Butcherman';
 	font-size: 50px;
 }




/*version 4: angry*/
#angry{
	background-color: brown;
}

.p4{
	font-size: 70px;
	line-height: 50px;
	font-family: 'Eater', cursive;
	color: white;
}

#verticaltext{
	transform: rotate(-90deg);
	left: 0px;
}

#fixed_v4{
	position: fixed;
	color: white;
	right: 0px;
 	font-family: 'Eater', cursive;
 	font-size: 70px;
}

#fixed_v4p{
	position: fixed;
	color: crimson;
	right: 0px;
 	font-family: 'Eater', cursive;
 	font-size: 70px;
 	text-align: right;
}
 span{
 	color: red;
 }






/*version 5: playful*/
#playful{
	background-color: paleturquoise;
}
.p5{
	padding: 30px;
	color: white;
	font-family: 'Fascinate Inline';
	font-size: 20px;
}

div#left{
    width: 500px;
	background: lightpink;
    position: relative;
    -webkit-animation: paragraphL infinite; 
    -webkit-animation-duration: 3s;
    animation: paragraphL infinite;
    animation-duration: 3s
}

@-webkit-keyframes paragraphL {
    from {left: 0px;}
    to {left: 1000px;}
}

@keyframes paragraphL {
    from {left: 0px;}
    to {left: 1000px;}
}

div#right{

	background: #FF4500;
    position: relative;
    -webkit-animation: paragraphR infinite; 
    -webkit-animation-duration: 3s;
    animation: paragraphR infinite;
    animation-duration: 3s
}

@-webkit-keyframes paragraphR {
    from {left: 1000px;}
    to {left: 0px;}
}

@keyframes paragraphR {
    from {left: 1000px;}
    to {left: 0px;}
}

div.container {
	position: relative;

	height: 30px;
    width: 150px;
    border: 3px solid darkcyan;
    border-radius: 5px;
    padding: 10px;
    background-color: darkcyan;
}

div#section_5-1{
    position: absolute;
    -webkit-animation: sectionA infinite; 
    -webkit-animation-duration: 9s;
    animation: sectionA infinite;
    animation-duration: 5s
}

@-webkit-keyframes sectionA {
    from {left: 0px;}
    to {left: 1000px;}
}

@keyframes sectionA {
    from {left: 0px;}
    to {left: 1000px;}
}