* { margin: 0px; padding: 0px; }

body {
	background-color: rgb(70,130,180);
	color: white;
	font-family: 'Coming Soon';
	font-size: 150%;
}

@font-face{
	font-family: 'Gloria Hallelujah', cursive;
	font-family: 'Satisfy', cursive;
	font-family: 'Marvel', sans-serif;
	font-family: 'Coming Soon', cursive;
}

#desktop{
	opacity: 1;
}

#poem{
	position: relative;
	top: 15vh;
	left: 15vw;
}

#circle{
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background-color: white;
	position: absolute;
	top: 10vh;
	left: 60vw;
	}

a{
	text-decoration: none;
	color:white;
}
a:active{
	text-decoration: none;
	color:orangered;

}
a:hover{
	text-decoration: none;
	color:orangered;
	background-color: white;
	padding: 0px 5px;
	border-radius: 5px;
}

#tablet, #mobile, #print {
	opacity: 0;
}



h1,p{padding-bottom: 5vh;}

#link{position: relative;
	top: 10vw;
	left: 15vw;}


/* iPad */
@media (min-width: 668px) and (max-width: 1024px) { 
	body {
		background: rgb(139,0,0);
	}

	#tablet{
		opacity: 1;
		position: absolute;
		top: 10vh;
		left: 10vw;
	}

	#desktop, #mobile, #print {
		opacity: 0;
	}

	h1{
		position: 
	}

}

/* iPhone 6 */
@media (min-width: 375px) and (max-width: 667px) { 
	
	body {
		background: rgb(0,191,255);
	}

	#mobile{
		opacity: 1;
		position: absolute;
		top: 10vh;
		left: 10vw;
	}

	#desktop, #tablet, #print {
		opacity: 0;
	}
}

/* print */
@media print {
	
	body {
		background: blue;
	}

	#print{
		opacity: 1;
		color: rgb(0,191,255);
		position: absolute;
		top: 0;
		left: 0;
	}
	

	#desktop, #tablet, #mobile {
		opacity: 0;
	}

	@page {
       margin: 3cm;
     }

    #circle-2{
    	width: 300px;
		height: 300px;
		border-radius: 100%;
		border: dashed black;
		align-self: center;
	    text-align: center;	
	    padding: 100px;
    }

}
