*{
	margin: 0;
}

@font-face{
	font-family: 'Open Sans', sans-serif;
}

body{
	font-family: 'Open Sans';
}

#button{
	height: 45px;
	width: 250px;
	background-color: darkcyan;
	border-radius: 5px;
	position: absolute;
	top: 70vh;
	right: 15vw;
}

#button:hover{
	background-color: lightseagreen;
}

#cart{
	position: absolute;
	top: 10vh;
	right: 18vw;
	opacity: 1;
	height: 40px;
	cursor: pointer;
}


#bag{
	height: 30px;
	width: 30px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: white;
	position: absolute;
	top: 10px;
}

#bag:hover{
	border: 3px solid darkcyan;
}

#handle{
	height: 20px;
	width: 20px;
	border: 3px solid black;
	border-radius: 100%;
	position: absolute;
	left: 5px;
}

#panel{
	position: absolute;
	top: 18vh;
	right: 15vw;
	width: 200px;
	border: 1px solid darkcyan;
	padding: 5px;
	display: none;
	border-radius: 5px;
}

p{
	font-size: 12px;
}

h3{
	color: white;
	align-self: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select:none; /* Non-prefixed version, currently */
    cursor: pointer;
}

h4{
	font-family: 'Open Sans';
	align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    background-color: black;
    border-radius: 100%;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select:none; /* Non-prefixed version, currently */
}

h5{

}
#number{
	height: 18px;
	width: 18px;
	align-self: center;
    justify-content: center;
    position: absolute;
    padding: 5.5px;
}

h4:hover{
	background-color: darkcyan;
}

img{
	height: 55px;
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

img.show{
	opacity: 1;
}


